@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #3a3138;
	/* --primary: rgba(58, 49, 56, 0.718); */
	--secondary: #ffac41;
}

@layer base {
	html {
		font-size: 62.5%;
		scroll-behavior: smooth;
	}

	body {
		font-family: roboto;
	}
	h1 {
		@apply capitalize text-7xl text-white font-questrial;
	}
	h2 {
		@apply capitalize text-4xl font-questrial text-[#000];
	}
	h3 {
		@apply text-white text-2xl uppercase my-8 tracking-widest font-questrial;
	}
}
